.TextContainer{
    display: flex;
    //align-self: flex-start;
    justify-content: center;
    flex-direction: column;
    color: $grey;
    border: 1px solid #f6cbcb;
    max-width:  43em;
    margin-left: 1em;
    margin-right: 1em;
    font-size: larger;
}

.TopBox{
    padding: 0.1rem .5rem;
}

.BottomBox{
    padding: 0.5rem .5rem 1rem 1rem;
}