.VideoContainer{
    //border: 1px solid $grey;
    //padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    width: 43em;
    max-width: 70%;
    height: auto;
}

.VideoBottom{
    color: $white;
    font-size: larger;
    text-align: center;
    padding-top: 2rem;
}

