// universal colors
$white : #fff;
$pink : #f6cbcb;
$grey: #281030;
$transition : all .3s ease-in-out;

@font-face {
    font-family: Hiragino;
    src: url('../assets/Hiragino_W3.otf') format('oft')
}

body {
    background-image: url("../assets/bgtile1.gif");
    //overflow-x: hidden;
    object-fit: fill;
    font-family: Hiragino, sans-serif;
}

a {
    color: $pink;
}



.Container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ImgTextBlock {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    //border: 1px solid salmon;
}

.DetailsText {
    color: #ffffff;
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 43em;
    margin: 3em 1em 3em 1em;
}

.GifBlock {
    max-width: 90%;
    width: 100em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 8rem;
    flex-wrap: wrap;
}

.sideGif {
    //border: 1px solid salmon;
}

.sideGif a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: auto;
}

@media only screen and (max-width: 900px) {
    .sideGif {
      display: none;
    }
    .ImgTextBlock {
      margin-left: 1em;
      margin-right: 1em;
    }
  }
  
.Line{
    width: "43em";
    //@at-root: "70%";
    border-bottom: "1px solid #ffffff";
    margin-top: "5rem";
    margin-bottom: "5rem";
}

.SubmitButton{
    display: flex;
    width: 15.5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    justify-content: center;
    color: $grey;
    background-color: #f2e3e3;
    font-size: medium;
    font-weight: bold;
}

input.SubmitButton:active {
    background-color:#807fb3 !important;
}