// universal colors
$white : #fff;
$pink : #f6cbcb;
$grey: #707070;
$transition : all .3s ease-in-out;

body {
    background-image: url("../assets/bgtile1.gif");
    overflow-x: hidden;
    object-fit: fill;
}

.Container{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}