// universal colors
$white : #fff;
$pink : #f6cbcb;
$grey: #707070;
$transition : all .3s ease-in-out;

body {
    background-image: url("../assets/bgtile1.gif");
    //overflow-x: hidden;
    object-fit: fill;
}

.Container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ImgTextBlock{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.DetailsText{
    color: #ffffff;
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
}