@font-face {
  font-family: Hiragino;
  src: url("../assets/Hiragino_W3.otf") format("oft");
}
body {
  background-image: url("../assets/bgtile1.gif");
  -o-object-fit: fill;
     object-fit: fill;
  font-family: Hiragino, sans-serif;
}

a {
  color: #f6cbcb;
}

.Container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ImgTextBlock {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.DetailsText {
  color: #ffffff;
  font-size: larger;
  display: flex;
  flex-direction: column;
  align-items: left;
  max-width: 43em;
  margin: 3em 1em 3em 1em;
}

.GifBlock {
  max-width: 90%;
  width: 100em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 8rem;
  flex-wrap: wrap;
}

.sideGif a img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: auto;
}

@media only screen and (max-width: 900px) {
  .sideGif {
    display: none;
  }
  .ImgTextBlock {
    margin-left: 1em;
    margin-right: 1em;
  }
}
.Line {
  width: "43em";
  border-bottom: "1px solid #ffffff";
  margin-top: "5rem";
  margin-bottom: "5rem";
}

.TextContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #281030;
  border: 1px solid #f6cbcb;
  max-width: 43em;
  margin-left: 1em;
  margin-right: 1em;
  font-size: larger;
}

.TopBox {
  padding: 0.35rem 0.5rem;
  font-weight: bold;
}

.BottomBox {
  padding: 0.5rem 0.5rem 1rem 1rem;
}

.SubscribeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.InputText {
  text-align: center;
  width: 15rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: medium;
  border: 2px solid black;
}

.SubmitButton {
  display: flex;
  width: 15.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-content: center;
  color: #281030;
  background-color: #f2e3e3;
  font-size: medium;
  font-weight: bold;
}

.CollectionText {
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.FrameContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.PictureBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0.5rem;
}

.VideoContainer {
  border: 1px solid #281030;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  width: 43em;
  max-width: 70%;
  height: auto;
}

.VideoBottom {
  color: #fff;
  font-size: larger;
  text-align: center;
  padding-top: 2rem;
}

.ButtonCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ShippingInputText {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: medium;
  border: 2px solid black;
}

.ShippingForm {
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: 0.75rem;
}

.ShipingFormBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}/*# sourceMappingURL=styles.css.map */